@import "../../styles/colors.css";

.menu {
  background-color: #19882c;
  padding: 15px;
}

.div-logo-ifpb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 15 0px;
}
.div-logo-ifpb:hover {
  cursor: pointer;
}
.div-img-ifpb img {
  height: 50px;
}

.logo-ifpb {
  height: 100%;
  width: 100%;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}
