.card-cadastro {
  background-color: #5cb85c;
  width: 40vw;
  margin: 10px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.card-cadastro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-cadastro {
  background-color: #fff;
  color: black;
}
